*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 18px;
    color: hsl(0, 0%, 75%);
}
html,body{
    width: 100%;
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.container{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 1rem;
}
nav{
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.logo{
    width: auto;
}
section{
    display: flex;
    width: 100%;
    height: 100vh;
}
.panner{
    flex-direction: row-reverse;
}
.nav-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav-list{
    display: flex;
    justify-content: space-around;
}
.menu-burger{
    display: none;
}
.sign-login{
    display: flex;
    justify-content: space-between;
} 
li{
    font-size: .80rem;
}
.sign-login li{
    padding: 1rem;
}
.nav-list li{
    display: inline-block;
    padding: 1rem;
    
}
.panner-img{
    width: 48%;
    height: 62vh;

}
.panner-img img{
    width: 100%;
    height: 100%;
}
.panner-desc{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.panner-desc h1 {
    font-size: 4rem;
    text-align: center;
}
@media only screen and (max-width: 578px){
   body{
       width: 100%;
   }
    section{
        width: 100%;
        height: 100vh;
        flex-direction: column;
    }
    .panner{
        flex-direction: column;
    }
    nav{
        width: 100%;
        padding: 1rem;
        justify-content: space-between;
        
    }
    .logo{
        height: 100%;
    }
    .logo img{
        height: 100%;
    }
    .nav-links{
        display: none;
    }
    .panner-img{
        width: 100%;
        height: auto;
        margin-left: 1.5rem;
    }
    .panner-img img{
        width: 120%;
    }
    .menu-burger{
        width: 40px;
        height: 40px;
        display: block;
    }
    .menu-burger i{
        font-size: 1.30rem;
        color: rgb(131, 137, 143);
    }
    .panner-desc{
        width: 100%;
    }
    .panner-desc h1{
        width: 100%;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        color: hsl(260, 8%, 14%);
    }
    .panner-desc p{
        width: 100%;
        text-align: center;
        padding: 1rem; 
    }
    .started{
        width: 60%;
        height: 60px;
        background: hsl(180, 66%, 49%);
        color: #fff;
        border: none;
        outline: none;
        border-radius: 50px;
        margin: 0 auto;
        display: block;
    }
    .panner form{
        width: 100%;
    }
    .panner form input{
        width: 100%;
    }
    .panner form button{
        width: 100%;
    }
}